.container {
    width: 15rem;
    height: 10rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 0.5rem;
    text-decoration: none;
}

.container:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.title {
    font-size: 1.5rem;
}